/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Outfit&display=swap");

/* Body styles */
body {
  margin: 0;
  font-family: Barlow, sans-serif;
  background-color: #f2f2f2; /* Set a background color */
}

/* Header styles */
#dog-header {
  background: #515da2;
  opacity: 0.8;
  padding: 1rem;
  text-align: center; /* Center the content */
}

#dog-header img {
  height: 6rem;
  width: auto;
}

/* Save Dog section styles */
.save-dog {
  text-align: center;
  padding: 2rem;
}

.save-dog h2 {
  font-size: 2rem; /* Increase the font size */
  color: #515da2; /* Use a primary color */
  margin-bottom: 1rem;
}

.save-dog .text {
  font-size: 1.2rem; /* Increase the font size */
}

/* Form styles */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

form {
  width: 90%; /* Adjust form width */
  max-width: 400px; /* Limit form width */
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold; /* Make labels bold */
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #515da2; /* Use a primary color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold; /* Make the button text bold */
}

/* Content container styles */
.content-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap */
  justify-content: center;
  align-items: flex-start;
}

/* Card styles */
.card {
  background-color: #fff;
  width: 300px; /* Set a fixed width for all cards */
  height: 400px; /* Set a fixed height for all cards */
  padding: 20px;
  border-radius: 10px; /* Increase border radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.card img {
  width: 100%;
  max-height: 200px; /* Limit image height */
  object-fit: cover; /* Maintain aspect ratio and cover container */
  border-radius: 10px; /* Rounded corners for the image */
}

.card h2 {
  font-size: 1.5rem; /* Increase font size for dog names */
  margin: 10px 0;
}

.card .temperament {
  font-size: 1.2rem;
  color: #515da2; /* Use a primary color for temperament */
  margin: 10px 0;
}

.card .adopt-button {
  background-color: #515da2; /* Use a primary color for the button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

.card .adopt-button:hover {
  background-color: #7e88c3; /* Change color on hover */
}
